body {
  background-color: #121212;
  font-family: sans-serif;
  color: #dedede;
}

#content {
  margin: 5rem 10vw;
  display: grid;
  // background-color: lighten($mainBackground, 10%) ;
  @include desktop {
    margin: 5rem 25vw;
  }
}

.avatar {
  background-image: url("../media/avatar.svg");
  background-repeat: no-repeat;
  height: 300px;
  width: auto;
}

.imageAndTextWrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  
  :first-child {
    grid-column: 1;
    // background-color: blue;
  }

  :last-child {
    grid-column: 2;
    background-position: right;
    // background-color: red;
  }
}