body {
  background-color: #121212;
  font-family: sans-serif;
  color: #dedede;
  // remove the scrollbar when its not needed
  overflow: auto;
}

#content {
  margin: 0 10vw;
  justify-content: center;
  align-items: center;
  justify-content: center;

  @include desktop {
    margin: 0 25vw;
  }
}

.avatar {
  background-image: url("../media/avatar.svg");
  background-repeat: no-repeat;
  height: 300px;
  width: auto;
}
