// Define some variables to use later
$mainBackground: #121212;
$lightText: #fff;
$darkText: #959595;

$enterAnimationSpeed: 200ms;
$exitAnimationSpeed: 200ms;

// Amount of travel distance for X axis fade animations
$translationXAmountIN: 60px;
$translationXAmountOUT: -60px;

// Amount of travel distance for Y axis fade animations
$translationYAmountIN: 60px;
$translationYAmountOUT: -20px;