$primary-color: rgb(15,20,24);
$primary-color2: rgb(40,47,53);
$secondary-color: #ff6600;
$dim-text: rgb(140,140,140);
$dim-text-trim: rgb(135,120,160);

//font-size
$large-font-mobile: 40px;
$large-font: 60px;

$med-font: 20px;
$small-font: 15px;
