// wraps two children. left is text, right is an image
// the image vanishes when in mobile view
.imageAndTextWrapper {
  display: grid;
  overflow: visible;
  grid-template-columns: auto 1fr;
  grid-template-areas: "content picture";

  :first-child {
    grid-column: 1;
    grid-area: "content";
  }

  :last-child {
    display: none;

    @include desktop {
      display: grid;
      grid-column: 2;
      background-position: right;
      grid-area: "picture";
      min-width: 110px;
    }
  }
}

// generic base for absolute columns
// extend it and position it how you like!
// .column {
//   height: 100%;
//   display: flex;
//   align-items: center;
//   // background-color: red;
// }

// // for putting things in an absolute left or right column
// #left {
//   @extend .column;
//   @include desktop {
//     position: absolute;
//     right: 51%;
//   }
// }

// #right {
//   @extend .column;
//   @include desktop {
//     position: absolute;
//     left: 51%;
//   }
// }

.center {
  margin: auto;
  // align-content: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: green;
}

.leftCol {
  position: absolute;
  right: 51%;
  // flex: auto;
  // padding: 1rem;
  // grid-column: 1;
  // display: flex;
  // align-self: center;
  // flex-direction: column;
  // text-align: right;
  // background-color: red;
}

.rightCol {
  position: absolute;
  left: 51%;
  // padding: 1rem;
  // flex: auto;
  // background-color: green;
}
