.HyperLink {
  list-style-type: none;
  text-decoration: none;
  &:hover {
    color: #fff;
    transition: color 0.5s ease;
  }
}

.lightHyperLink {
  @extend .HyperLink;
  color: $lightText;
}

.darkHyperLink {
  @extend .HyperLink;
  color: $darkText;
}
