@mixin test($foreground, $background) {
  background: $background;
  color: $foreground;
  &:hover {
    color: $lightText;
    background-color: $mainBackground;
    text-decoration: underline;
  }
}

.HyperLink {
  list-style-type: none;
  text-decoration: none;
  padding: 0 1ch;
}

// em links: white background
.emLink {
  @extend .HyperLink;
  @include test($mainBackground, $lightText);
}

.emLinks {
  a {
    @extend .emLink;
  }
}

// dark hyperlinks: dark background. 
// usually underlined as a style rule :)
.darkHyperLink {
  @extend .HyperLink;
  @include test($lightText, $mainBackground);
}

.darkHyperLinks {
  a {
    @extend .darkHyperLink;
  }
}

// global fallback for any links that arent styled 
a {
  @extend .emLink;
}
