.HyperLink {
  list-style-type: none;
  text-decoration: none;
  &:hover {
    color: $mainBackground;
    // transition: color 0.125s ease;
    background-color: $lightText;
  }
}

.lightHyperLink {
  @extend .HyperLink;
  color: $lightText;
}

.darkHyperLink {
  @extend .HyperLink;
  color: $darkText;
}

a {
  @extend .HyperLink;
  color: $darkText;
}