nav {
    margin-bottom: 1rem;
  
    ul {
      list-style-type: none;
      li {
        display: inline;
      }
    }
  }
  
  #prev-next-nav {
    min-height: 4rem;
    display: grid;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 2rem 2rem;
    li {
      margin: auto 0;
    }
    #nav-prev-link {
      margin-top: 0;
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 1;
      grid-row: 1;
    }
    #nav-next-link {
      margin-bottom: 0;
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row: 2;
      vertical-align: bottom;
    }
  }