.font {
  font-size: calc(12px + 2vw);
  @include desktop {
    font-size: calc(1rem + 0.25vw);
  }
}

body {
  @extend .font;
  font-family: 'Roboto', sans-serif;
}

.bold {
  font-weight: bold;
}

.title {
  margin: 2rem 0;
}

.underline {
  text-decoration: underline;
}