// Align the containers content in the middle Ver and Hoz
.FlexCenter {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

// Defines the positioning styles for the Mobile and Desktop views inside the Center Column
@mixin ContentContainer($colOffset, $offsetPercentage) {
  @extend .FlexCenter;
  // In mobile view the columns are relative and stack on each other
  position: relative;

  @include desktop {
    // Left and Right columns are positioned absolutely left or right of their wrapper
    position: absolute;
    height: 100vh;
    // background: red;
    // left: 50% or right: 50%
    #{$colOffset}: $offsetPercentage;
  }
}

// based on ContentContainer mixin
.LeftCol {
  @include ContentContainer(right, 55%);
  // the Left Columns items look nicer in the center
  align-items: center;
}

// based on ContentContainer mixin
.RightCol {
  @include ContentContainer(left, 55%);
}

// Center column wrapper for all other columns
.centerCol {
  position: relative;
  padding: 0px 30px;
  height: 100vh;
  @include desktop {
    max-width: 60vw;
    margin: auto;
    // height: 100vh;
  }
}
