.HyperLink {
    list-style-type: none;
    text-decoration: none;
    &:hover {
      color: #fff;
      transition: color 0.5s ease;
    }
  }
  
  .LightHyperLink {
    @extend .HyperLink;
    color: $lightText;
  }
  
  .DarkHyperLink {
    @extend .HyperLink;
    color: $darkText;
  }