// @include desktop {
  .fade-exit {
    opacity: 0;
  }
  
  .fade-exit-active {
    opacity: 0;
  }
  
  .fade-enter-done {
    opacity: 1;
    transition: opacity $enterAnimationSpeed ease-in;
  }
  
  .fade-enter {
    opacity: 0;
    transform: translateX($translationXAmountIN);
  }
// }


// http://reactcommunity.org/react-transition-group/css-transition
// classNames={{
//     appear: 'my-appear',
//     appearActive: 'my-active-appear',
//     appearDone: 'my-done-appear',
//     enter: 'my-enter',
//     enterActive: 'my-active-enter',
//     enterDone: 'my-done-enter',
//     exit: 'my-exit',
//     exitActive: 'my-active-exit',
//     exitDone: 'my-done-exit',
// }}
