@font-face {
    font-family: 'helvetica-bold';
    src: url('/src/fonts/helvetica-bold.woff') format('woff');
    font-weight: normal;
    font-style: bold;
}

@font-face {
    font-family: 'Barlow-Regular';
    src: url('/src/fonts/Barlow-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow-Bold';
    src: url('/src/fonts/Barlow-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: bold;
}

@font-face {
    font-family: 'Barlow-Medium';
    src: url('/src/fonts/Barlow-Medium.ttf') format('ttf');
    font-weight: normal;
    font-style: bold;
}

@font-face {
    font-family: 'Barlow-SemiBold';
    src: url('/src/fonts/Barlow-SemiBold.ttf') format('ttf');
    font-weight: normal;
    font-style: bold;
}
