$small-text: 18px;
$med-text: 24px;

a {
    text-decoration: none;
    color: #fff;
    font-size: 100%;
}
  
  a:hover {
    fill : #aaa;
  }  

li, li *{
    font-weight: 400;
    list-style: none;
    color: #919191;
    &:hover {
        color: #fff;
        transition: ease 0.2s;
    }
}

ul, li {
    cursor: default;
}

html {
    @include fluid-type(320px, 1200px, 18px, 24px);
    @include desktop {
        @include fluid-type(320px, 1200px, 14px, 18px);
    }
}

h3 {
    font-size: 125%;
}

// * {
//     @include fluid-type(320px, 1200px, 16px, 24px);
// }


// * {
//   font-size: calc($small-text + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
//   line-height: calc(1.1em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
// }

// .topic {
//   *:not(#title) {
//     font-size: calc($small-text + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
//     line-height: calc(1.5em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
//     @include desktop {
//       font-size: calc($med-text + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
//       line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
//     }
//   }
// }

// h3 {
//   font-size: calc(18px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
// }