
.title {
     cursor: default;
     padding: 40px;
     //edit spaces in different views
     #title-content:after {
          content:'Roland Warburton';
     }
     @include desktop {
          #title-content:after {
               content:'Roland. Warburton.';
          }
     }

     #subtitle {
          color: $dim-text;
          font-size: $small-font;
     }
}

#title-content:hover {
     animation: glitch .5s infinite;
}

.content {
      // hide the ULs in content initially
      ul {
            display: none;
      }
}

.list-item {
      color: $dim-text;
}
.list-more {
      a {
         color: $dim-text-trim;
      }
}

ul {
      cursor: default;
}

li {
      font-family: arial;
      font-size: $small-font;
      list-style: none;
}

.list {
      // space each list out a bit
      margin: 15px;
      span {

            padding: 0px;
            font-size: $med-font;
      }
}



.glitch {
     animation: glitch .5s infinite;
}

  // Glitch code taken from:
  // codepen.io/ayamflow/pen/DCifh

$red: rgb(192, 20, 124);
$blue: rgb(0, 170, 255);
$yellow: rgb(255, 238, 0);
$green: rgb(0, 255, 128);
$colors: $red $blue $yellow $green;

@mixin random {
     $random: random();
}

@mixin glitch {
  $i: random(length($colors));
  $color: nth($colors, $i);
  $x: random(10px) - 5px;
  text-shadow: $x 0px 0px $color;
}

@keyframes glitch {
  @for $i from 0 through 100 {
    $percent: 0% + $i;
    #{$percent} {
      @include glitch;
    }
  }
}
