<nav id="dynamic-nav emLinks">
    <% if (prev) { %>
    <li id="nav-prev-link"><a href="<%=prev%>">prev</a></li>
    <% } else { %>
    <li id="nav-next-link">-</li>
    <% } %>

    <% if (next) { %>
    <li id="nav-next-link"><a href="<%=next%>">next</a></li>
    <% } else { %>
    <li id="nav-next-link">-</li>
    <% } %>
</nav>

<!-- <% if (next != undefined) { %>
    <li id="nav-prev-link"><a href="<%=next%>">next</a></li>
    <% } %> -->