* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'helvetica-bold';
  font-weight: 100;
  color: white;
  background-color: #0f1418; }

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media (min-width: 1000px) {
    .container {
      position: absolute;
      text-align: left;
      right: 60vw;
      width: 20vw;
      min-width: 400px;
      height: 100vh; } }

.content {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left; }
  @media (min-width: 1000px) {
    .content {
      position: absolute;
      text-align: left;
      padding-left: 50px;
      left: 100%;
      width: 30vw;
      min-width: 500px;
      height: 100vh; } }

.container h1 {
  font-size: 40px;
  margin: 0px;
  padding: 0px; }
  @media (min-width: 1000px) {
    .container h1 {
      font-size: 60px; } }

.container h5 {
  margin: 0px;
  width: 0px; }
  @media (min-width: 1000px) {
    .container h5 {
      font-size: 20px; } }

.title {
  cursor: default;
  padding: 40px; }
  .title #title-content:after {
    content: 'Roland Warburton'; }
  @media (min-width: 1000px) {
    .title #title-content:after {
      content: 'Roland. Warburton.'; } }
  .title #subtitle {
    color: #8c8c8c;
    font-size: 15px; }

#title-content:hover {
  animation: glitch .5s infinite; }

.content ul {
  display: none; }

.list-item {
  color: #8c8c8c; }

.list-more a {
  color: #8778a0; }

ul {
  cursor: default; }

li {
  font-family: arial;
  font-size: 15px;
  list-style: none; }

.list {
  margin: 15px; }
  .list span {
    padding: 0px;
    font-size: 20px; }

.glitch {
  animation: glitch .5s infinite; }

@keyframes glitch {
  0% {
    text-shadow: 2px 0px 0px #00aaff; }
  1% {
    text-shadow: -4px 0px 0px #c0147c; }
  2% {
    text-shadow: 4px 0px 0px #00aaff; }
  3% {
    text-shadow: 1px 0px 0px #00aaff; }
  4% {
    text-shadow: 2px 0px 0px #c0147c; }
  5% {
    text-shadow: 3px 0px 0px #00ff80; }
  6% {
    text-shadow: -3px 0px 0px #c0147c; }
  7% {
    text-shadow: 4px 0px 0px #ffee00; }
  8% {
    text-shadow: -1px 0px 0px #ffee00; }
  9% {
    text-shadow: 5px 0px 0px #c0147c; }
  10% {
    text-shadow: -2px 0px 0px #ffee00; }
  11% {
    text-shadow: -2px 0px 0px #00ff80; }
  12% {
    text-shadow: 2px 0px 0px #00aaff; }
  13% {
    text-shadow: 2px 0px 0px #00ff80; }
  14% {
    text-shadow: 4px 0px 0px #ffee00; }
  15% {
    text-shadow: 0px 0px 0px #00aaff; }
  16% {
    text-shadow: 4px 0px 0px #c0147c; }
  17% {
    text-shadow: 5px 0px 0px #00ff80; }
  18% {
    text-shadow: -2px 0px 0px #00aaff; }
  19% {
    text-shadow: 4px 0px 0px #00ff80; }
  20% {
    text-shadow: 3px 0px 0px #00aaff; }
  21% {
    text-shadow: 4px 0px 0px #00aaff; }
  22% {
    text-shadow: 0px 0px 0px #c0147c; }
  23% {
    text-shadow: 1px 0px 0px #00ff80; }
  24% {
    text-shadow: -3px 0px 0px #ffee00; }
  25% {
    text-shadow: 5px 0px 0px #ffee00; }
  26% {
    text-shadow: -1px 0px 0px #00ff80; }
  27% {
    text-shadow: -1px 0px 0px #00aaff; }
  28% {
    text-shadow: 4px 0px 0px #c0147c; }
  29% {
    text-shadow: -2px 0px 0px #00ff80; }
  30% {
    text-shadow: 2px 0px 0px #c0147c; }
  31% {
    text-shadow: 2px 0px 0px #ffee00; }
  32% {
    text-shadow: -2px 0px 0px #ffee00; }
  33% {
    text-shadow: 1px 0px 0px #c0147c; }
  34% {
    text-shadow: 1px 0px 0px #00ff80; }
  35% {
    text-shadow: 0px 0px 0px #ffee00; }
  36% {
    text-shadow: -3px 0px 0px #c0147c; }
  37% {
    text-shadow: 5px 0px 0px #00aaff; }
  38% {
    text-shadow: 4px 0px 0px #c0147c; }
  39% {
    text-shadow: -1px 0px 0px #00aaff; }
  40% {
    text-shadow: 2px 0px 0px #00aaff; }
  41% {
    text-shadow: -1px 0px 0px #ffee00; }
  42% {
    text-shadow: 0px 0px 0px #c0147c; }
  43% {
    text-shadow: 0px 0px 0px #c0147c; }
  44% {
    text-shadow: -2px 0px 0px #c0147c; }
  45% {
    text-shadow: -4px 0px 0px #00aaff; }
  46% {
    text-shadow: -1px 0px 0px #c0147c; }
  47% {
    text-shadow: -2px 0px 0px #c0147c; }
  48% {
    text-shadow: 0px 0px 0px #c0147c; }
  49% {
    text-shadow: -2px 0px 0px #ffee00; }
  50% {
    text-shadow: 4px 0px 0px #00ff80; }
  51% {
    text-shadow: 0px 0px 0px #00ff80; }
  52% {
    text-shadow: -3px 0px 0px #ffee00; }
  53% {
    text-shadow: 2px 0px 0px #c0147c; }
  54% {
    text-shadow: 3px 0px 0px #00aaff; }
  55% {
    text-shadow: 2px 0px 0px #00aaff; }
  56% {
    text-shadow: -3px 0px 0px #ffee00; }
  57% {
    text-shadow: 1px 0px 0px #c0147c; }
  58% {
    text-shadow: 0px 0px 0px #00ff80; }
  59% {
    text-shadow: 5px 0px 0px #00aaff; }
  60% {
    text-shadow: -2px 0px 0px #00aaff; }
  61% {
    text-shadow: 2px 0px 0px #00ff80; }
  62% {
    text-shadow: -2px 0px 0px #00aaff; }
  63% {
    text-shadow: 3px 0px 0px #00ff80; }
  64% {
    text-shadow: -4px 0px 0px #ffee00; }
  65% {
    text-shadow: 0px 0px 0px #c0147c; }
  66% {
    text-shadow: -4px 0px 0px #c0147c; }
  67% {
    text-shadow: 4px 0px 0px #ffee00; }
  68% {
    text-shadow: -4px 0px 0px #00ff80; }
  69% {
    text-shadow: 3px 0px 0px #00aaff; }
  70% {
    text-shadow: 5px 0px 0px #00aaff; }
  71% {
    text-shadow: 0px 0px 0px #00aaff; }
  72% {
    text-shadow: -3px 0px 0px #00ff80; }
  73% {
    text-shadow: -3px 0px 0px #00ff80; }
  74% {
    text-shadow: -2px 0px 0px #c0147c; }
  75% {
    text-shadow: -4px 0px 0px #00aaff; }
  76% {
    text-shadow: 0px 0px 0px #00ff80; }
  77% {
    text-shadow: -4px 0px 0px #c0147c; }
  78% {
    text-shadow: 0px 0px 0px #c0147c; }
  79% {
    text-shadow: 2px 0px 0px #c0147c; }
  80% {
    text-shadow: 1px 0px 0px #00aaff; }
  81% {
    text-shadow: -3px 0px 0px #c0147c; }
  82% {
    text-shadow: 1px 0px 0px #00aaff; }
  83% {
    text-shadow: 2px 0px 0px #00ff80; }
  84% {
    text-shadow: 0px 0px 0px #ffee00; }
  85% {
    text-shadow: 3px 0px 0px #ffee00; }
  86% {
    text-shadow: 3px 0px 0px #00aaff; }
  87% {
    text-shadow: -4px 0px 0px #ffee00; }
  88% {
    text-shadow: 5px 0px 0px #c0147c; }
  89% {
    text-shadow: -2px 0px 0px #00ff80; }
  90% {
    text-shadow: -2px 0px 0px #00aaff; }
  91% {
    text-shadow: -2px 0px 0px #c0147c; }
  92% {
    text-shadow: 2px 0px 0px #ffee00; }
  93% {
    text-shadow: -1px 0px 0px #00aaff; }
  94% {
    text-shadow: 3px 0px 0px #ffee00; }
  95% {
    text-shadow: -4px 0px 0px #c0147c; }
  96% {
    text-shadow: -2px 0px 0px #00aaff; }
  97% {
    text-shadow: -3px 0px 0px #00ff80; }
  98% {
    text-shadow: 5px 0px 0px #c0147c; }
  99% {
    text-shadow: -4px 0px 0px #ffee00; }
  100% {
    text-shadow: 4px 0px 0px #00aaff; } }

@font-face {
  font-family: 'vcr_osd_monoregular';
  src: url("../vcr_osd_mono-webfont.woff2") format("woff2"), url("../vcr_osd_mono-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helvetica-bold';
  src: url("../helvetica-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
