body {
  background-color: $mainBackground;
  font-weight: 100;
  color: $lightText;

  // handle some font sizes
  font-size: calc(12px + 2vw);
  @include desktop {
    font-size: calc(12px + 0.75vw);
  }
}

// Pad the containers for each index topic (Articles, Projects, etc...)
.TopicContainer {
  margin: 10px 0px;
}

// SVG stuff
.SVGIconContainer {
  display: flex;
  justify-content: center;
}

.SVGIcon {
  margin: 2px;
  min-height: 4vh;
  fill: $lightText;
}
