body {
  font-size: calc(12px + 1vw);
  background-color: #121212;
  font-weight: 100;
  color: #fff;

  * {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0px;
  }

  // desktop
  font-size: calc(12px + 2vw);
  @include desktop {
    // font-size: 1vw;
    font-size: calc(12px + 0.75vw);
  }
}

.FlexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.ContentContainer {
  position: relative;

  @include desktop {
    position: absolute;
    height: 100vh;
  }
}

.LeftCol {
  @extend .ContentContainer;

  @include desktop {
    right: 52%;
  }
}

.RightCol {
  @extend .ContentContainer;

  @include desktop {
    left: 52%;
  }
}

.SVGIconContainer {
  display: flex;
  justify-content: center;
}

.TopicContainer {
  margin: 10px 0px;
}

// React Transitions
.fade-enter,
.fade-exit {
  transition: 0.6s ease opacity;
}
.fade-enter,
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  //   z-index: 1;
}

// typography
.NormalLink {
  list-style-type: none;
  text-decoration: none;
  color: #fff;
}

.NormalAnchor {
  list-style-type: none;
  text-decoration: none;
  color: #fff;
}
.HyperLink {
  list-style-type: none;
  text-decoration: none;
  color: #959595;
  &:hover {
    color: #fff;
    transition: color 0.5s ease;
  }
}

.LightHyperLink {
  @extend .HyperLink;
  color: #fff;
}


// svg stuff
.SVGIcon {
	margin: 2px;
	min-height: 30px;
	fill: #fff;
}